label{
    color: #fff;
    margin-bottom: 0.5rem;
}
form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin:auto;
    max-width: 600px;
}
.form .btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: yellow;
    color: black;
    border: 1px solid white;
    font-weight:600;
    cursor: pointer;
    position: relative;
    left: 40%;
  }
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
}

.form h1{
    padding-bottom: 20px;
    text-decoration: underline;
}

